*.log
*.bak
*.old
*.disabled
*.zip
unity/*
packages/*
# allow packages/repositories.config only
!packages/repositories.config
[Dd]ebug/
[Rr]elease/
[Oo]bj/
*.suo
*.user
.vs/config/applicationhost.config
src/*.Testing/*.xml
ImagesRaw/